/* Todoroki color palette - SCSS HEX */
$burgundy: #8C2733ff;
$royal-blue-traditional: #1E2762ff;
$dun: #CEC3A0ff;
$timberwolf: #D4D4D4ff;
$alabaster: #EBEAE3ff;
$apricot: #FCD4B8ff;
$redwood: #B05A50ff;

// BS names
// $primary:       $burgundy;
// $secondary:     $royal-blue-traditional;
// $warning:       $dun;
// $info:          $apricot;
// $danger:        $redwood;

// $headings-font-family: 'Yellowtail', cursive;

// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";

// $custom-theme-colors: (
//     "timberwolf": #D4D4D4ff,
//     "alabaster": #EBEAE3ff,
// );

// $theme-colors: map-merge($custom-theme-colors , $theme-colors);

//bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons'

// @import './utilities';
// @import url('https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap');

// :root{
//     --bs-body-font-family:'Lato', sans-serif;
// }