/* Todoroki color palette - SCSS HEX */
$burgundy: #8c2733ff;
$royal-blue-traditional: #1e2762ff;
$dun: #cec3a0ff;
$timberwolf: #d4d4d4ff;
$alabaster: #ebeae3ff;
$apricot: #fcd4b8ff;
$redwood: #b05a50ff;

// BS names
// $primary:       $burgundy;
// $secondary:     $royal-blue-traditional;
// $warning:       $dun;
// $info:          $apricot;
// $danger:        $redwood;

// $headings-font-family: 'Yellowtail', cursive;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";

// $custom-theme-colors: (
//     "timberwolf": #D4D4D4ff,
//     "alabaster": #EBEAE3ff,
// );

// $theme-colors: map-merge($custom-theme-colors , $theme-colors);


$utilities: (
  "flex-basis": (
    property: flex-basis,
    responsive: true,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      content: content,
      auto: auto,
    )
  )
 );

//bootstrap
@import "bootstrap";
@import "bootstrap-icons";
// @import './utilities';
// @import url('https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap');
// :root{
//     --bs-body-font-family:'Lato', sans-serif;
// }

// @import "./utils";